html {
  background-image: url("assets/images/leaves.webp");
  padding-left: 100px;
  font-size: 20px;
  
}

.mainPage {
  text-align: left;
  font-size: 50px;
  color: palevioletred;
}

.contener {
  font-size: 50px;
  height: 400px;
}

.contener button {
  font-size: 90px;
  margin: 10px;
  background-color: pink;
  
}

img.imageUnicorn {
  width: 120px;
  height: 120px;

}

img.imageMessage {
  width: 300px;
  height: 300px;
}

div.imageUnicorn {
  display: inline-block;
  width: 400px;
}

.test{
  display: inline-block;
  width: 400px;
}

.wordsView {
  color: red;
  font-size: 250px;
  text-align: center;
  border: 2px solid red;
  background-color: white;
}

.answer {
  font-size: 50px;
  margin: 10px;
  background-color: pink;
}

input.answer {
  font-size: 25px;
  margin: 10px;
  background-color: pink;
  height: 60px;
}