html {
  background-image: url("assets/images/leaves.webp");
  padding-left: 100px;
  font-size: 20px;
  
}

.mainPage {
  text-align: left;
  font-size: 50px;
  color: palevioletred;
}

.contener {
  font-size: 50px;
  /* text-align: left; */
  /* padding-left: 400px; */
  /* float: left; */
  width: 900px;
}

.contener button {
  font-size: 50px;
  margin: 10px;
  background-color: pink;
  
}

/* .imageUnicorn div {
  float: left;
  width: 150px;
  height: 150px;
} */

img.imageUnicorn {
  width: 120px;
  height: 120px;
  /* float: left; */
}

img.imageMessage {
  width: 300px;
  height: 300px;
}

div.imageUnicorn {
  display: inline-block;
  width: 400px;
}

.test{
  /* float: left; */
  /* padding: 30px; */
  display: inline-block;
  width: 400px;
}

/* .imageCorn {
  width: 150px;
  height: 150px;
  float: left;
  padding: 30px;
} */

/* .imageCorn div {
  float: left;
  width: 150px;
  height: 150px;

} */